<html>
<head>
  <title>
    {{#block "title"}} Default Title {{/block}}
  </title>
</head>
<body>
  <h1>{{#block "title"}}Default Title{{/block}}</h1>
  {{#block "content"}}
       Default content
  {{/block}}
</body>
</html>